* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.2rem;
  min-height: 100vh;
  padding: 20px;
}
.grid-container > * {
  box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.74);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

.grid-container {
  display: grid;
  gap: 20px;
  grid-template:
    "header" 125px
    "navbar" 53px
    "main" auto
    "sidebar"
    "footer";

  .header {
    grid-area: header;
    background-color: rgb(49, 45, 42);
  }
  .navbar {
    background-color: #4d4b49;
    grid-area: navbar;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-width: 100vw;
    position: relative; /* Mantiene el nav en su lugar */
  }
  .sidebar {
    grid-area: sidebar;
    background-color: rgb(116, 116, 161);
  }
  .main {
    grid-area: main;
    background-color: white;
    padding: 0.4rem;
    font-size: 1.3rem;
  }
  .footer {
    grid-area: footer;
    background-color: rgb(105, 114, 96);
  }
  @media (max-width: 768px) {
    .navbar {
      width: 100%;
      width: 80%; /* Reduce el ancho del menú */
      max-width: 900px; /* Controla el ancho máximo */
      margin: 0 auto;
    }
  }
  @media (min-width: 768px) {
    grid-template:
      "header header" 100px
      "navbar navbar " 53px
      "main sidebar " auto
      "footer footer" 100px /
      auto 280px;
  }
  @media (min-width: 992px) {
    grid-template:
      "header  header" 100px
      "navbar  navbar" 53px
      "main    sidebar" auto
      "footer  footer" 100px /
      auto 325px;

    /*  grid-template:
      "header header header" 100px
      "navbar main sidebar" auto
      "footer footer footer" 100px/
      200px auto 200px; menu a la dercha*/
  }
}

.menu {
  list-style: none;
  font-family: "Poppins-SemiBold", sans-serif;
  display: flex;
  padding: 0;
  margin: 0;
}

.menu > li {
  position: relative;
}

.menu > li > a {
  display: block;
  padding: 12px 17px;
  text-decoration: none;
  color: #ececec;
  background-color: #4d4b49;
  transition: background 0.3s ease;
  white-space: nowrap;
}

/* Submenús */
.menu ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(77, 75, 73, 0.7);
  min-width: 150px;
  z-index: 1000; /* Asegura que el submenú esté sobre otros elementos */
}

.menu ul li {
  display: block;
}

.menu ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: background 0.3s ease;
}

.menu ul li a:hover {
  background-color: #c74634;
}

/* Mostrar el submenú al pasar el mouse */
.menu li:hover > ul {
  display: block;
}

/* Cambio de color en los menús principales */
.menu > li > a:hover {
  background-color: #c74634;
}
#subTituloInicio {
  font-size: 3rem;
}
.piePagina {
  font-family: "Roboto-Regular";
  text-align: center;
  margin-top: 0;
  color: #ececec;
  font-family: "Roboto-Light", sans-serif;
}
#imgBD {
  float: left;
  width: 45%;
  margin: 0.5rem;
}
#autorF {
  display: block;
  width: 40%;
  margin: 0.5rem auto;
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../font/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../font/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../font/Poppins/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../font/Roboto/static/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../font/Roboto/static/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../font/Roboto/static/Roboto-Bold.ttf");
}
#titulo {
  color: #ececec;
}
h1 {
  font-family: "Poppins-Bold", sans-serif;
}
h2,
h3 {
  font-family: "Poppins-SemiBold", sans-serif;
}
p {
  text-align: justify;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}
#eslogan {
  text-align: center;
  margin-top: 0;
  color: #ececec;
}

small {
  font-family: "" Roboto-Regular "", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}
section {
  text-align: justify;
}
.liArticle {
  text-align: justify;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  list-style: none;
  padding-left: 20px;
}
.video {
  margin: 20px;
  display: block;
  margin: 0.5rem auto;
}
.tituloMul {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
