* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
    font-size: 1.2rem;
    min-height:100vh ;
    padding: 20px;

}
.grid-container > * {
    box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.74);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

.grid-container{
    display: grid;
    gap: 20px;
    grid-template: 
    "header" 200px
    "navbar" 50px
    "main" auto
    "sidebar"
    "footer";
    .header{
        grid-area: header;
        background-color: rgb(0, 255, 255);
    }
    .navbar{
        grid-area: navbar;
        background-color: aquamarine;
    }
    .sidebar{
        grid-area: sidebar;
        background-color: rgb(116, 116, 161);

    }
    .main{
        grid-area: main;
        background-color: blueviolet;
    }
    .footer{
        grid-area: footer;
        background-color: rgb(105, 114, 96);
    }
    @media (min-width:768px) {
        grid-template: 
        "header navbar" 100px
        "header navbar " 100px
        "main sidebar " auto
        "footer footer" 80px/
        auto 200px;

    }
    @media (min-width: 992px){
        grid-template: 
        "header header header" 100px
        "navbar main sidebar" auto
        "footer footer footer" 100px/
        200px auto 200px
        
        ;
    }
}
.topnav {
    background-color: #001d3d;
    overflow: hidden;
    }
    .topnav a {
    font-family: 'Lucida Sans';
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }
    .topnav a.active {
    background-color: #ffd60a;
    color: #000814;
    }
    